header{
    padding: 49px 0  41px;
}

.mr-nv:not(:last-child){
    margin-right: 114px;
}

.navbar-nav{
    margin-left: auto;
}

.nav-link.header-link:hover,
.nav-link.header-link:focus{
    color: #FA4A0C;
}

