.hero{
    background-image: url(../img/Rectangle_48.png);

    padding: 80px 0 162px;
}

.hero-title.h3{
    color: #F6F6F6;

    text-align: center;
    font-weight: 700;

    margin-bottom: 10px;
}

.hero-question.h1{
    font-family: Poppins;

    color: $PrimaryTextColor;

    text-align: center;
    font-weight: 700;

    margin-bottom: 15px;
}

.exchange.h4{
    color: #F6F6F6;

    text-align: center;
    font-weight: 500;

    margin-bottom: 78px;
}

.hero-button-container{
    text-align: center;
}

.hero-button{
    color: $PrimaryTextColor;

    border: none;
    border-radius: 30px;

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;
    
    padding: 16px 71px;
}

.order{
    background-color: $PrimaryColor;
    box-shadow: 0px 10px 30px 0px rgba(183, 50, 39, 0.20);
}

.menu{
    background-color: transparent;

    border: 1px solid #FFF;

    padding: 16px 84.456px;
    margin-left: 67px;
}